.container{
    display: flex;
    justify-content: center;
}

.headerButton{
    width: 20%;
    color: #000000;
    font-size: 30px;
    background-color: #555555;
    border: none;
}

.header1{
    width: 80%;
}
